In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import csv

# import niezbędnych procedur pakietu scipy i scikit.learn
from scipy.cluster.hierarchy import linkage, dendrogram, ward, fcluster
from scipy.spatial.distance import cdist
from sklearn import metrics
from sklearn.cluster import AgglomerativeClustering,KMeans
from sklearn.datasets import make_blobs
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestCentroid
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn import tree

# pakiet mlxtend wymaga wcześniejszej instalacji
# w razie problemów z instalacją przez anaconda navigator-a
# należy w Anaconda prompt wpisać:
# pip install mlxtend   
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [23]:
# reading data
crime = pd.read_csv('../test.csv', delimiter=',',index_col='Id')
crime.head()

,Dates,DayOfWeek,PdDistrict,Address,X,Y
Id,,,,,,
0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [26]:

# liczba obiektów
count_objs = crime.shape[0]
print("liczba obiektow:", count_objs)

# liczba klas
classes_count = crime.groupby('PdDistrict').ngroups
print("liczba klas:", classes_count)


# liczba obiektów w każdej klasie
class_counts = {}

for pd_district in crime['PdDistrict']:
    if pd_district not in class_counts:
        class_counts[pd_district] = 1
    else:
        class_counts[pd_district] += 1

arr = list(class_counts.values())

for i, count in enumerate(arr):
    print(f"klasa {classes[i]}: {count} objects")

# liczba atrybutów
attr_count = crime.count()
print("liczba atrybutow:", len(attr_count))

# liczba danych brakujących
i=0
for col in crime:
    for item in crime[col]:
        if(pd.isnull(item) == True):
            i+=1
null_data = i
print("liczba brakujacych danych:", null_data)

# usunięcie danych brakujących
crime = crime.iloc[:,:].dropna()

liczba obiektow: 884262
liczba klas: 10
klasa BAYVIEW: 89591 objects
klasa NORTHERN: 107017 objects
klasa INGLESIDE: 80084 objects
klasa TARAVAL: 66617 objects
klasa MISSION: 120449 objects
klasa CENTRAL: 86130 objects
klasa TENDERLOIN: 81747 objects
klasa RICHMOND: 44972 objects
klasa SOUTHERN: 157456 objects
klasa PARK: 50199 objects
liczba atrybutow: 6
liczba brakujacych danych: 0